# Variables de Entorno - RemesaSmartSV Backend
ASPNETCORE_ENVIRONMENT=Development

# Base de datos principal (Docker / Desarrollo)
ConnectionStrings__DefaultConnection=Host=postgres_db;Port=5432;Database=RemesaSmartDB;Username=postgres;Password=SecretPassword123!

# Base de datos de pruebas (xUnit)
ConnectionStrings__TestConnection=Host=postgres_test_db;Port=5432;Database=RemesaSmartDB_Test;Username=postgres;Password=SecretPassword123!

# URLs permitidas para CORS en Producción (separadas por coma)
CORS_ORIGINS_PROD=http://localhost:5173,https://remesasmart.sv

# Configuración de JWT
Jwt__Key=ClaveSuperSecretaDeDesarrolloRemesaSmartSV2026!
Jwt__Issuer=RemesaSmartBackend
Jwt__Audience=RemesaSmartFrontend
